AIRFLOW_IMAGE_NAME=apache/airflow:3.0.2
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
FERNET_KEY=replace_me
AIRFLOW__API_AUTH__JWT_SECRET=replace_me
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=replace_me
_PIP_ADDITIONAL_REQUIREMENTS=

MACHINE_API_BASE_URL=http://machine-api:8000
MACHINE_PRINT_EVENTS_PER_HOUR=200

FABRIC_MODE=fabric
AZURE_TENANT_ID=replace_me
AZURE_CLIENT_ID=replace_me
AZURE_CLIENT_SECRET=replace_me

FABRIC_WORKSPACE_ID=replace_me
FABRIC_LAKEHOUSE_ID=replace_me
FABRIC_LAKEHOUSE_NAME=lh_qr_printing_demo
FABRIC_NOTEBOOK_ID=replace_me
FABRIC_NOTEBOOK_JOB_TYPE=RunNotebook

POWER_BI_WORKSPACE_ID=replace_me
POWER_BI_SEMANTIC_MODEL_ID=replace_me

FABRIC_CAPACITY_AUTO_RESUME=true
FABRIC_CAPACITY_AUTO_PAUSE=true
AZURE_SUBSCRIPTION_ID=replace_me
AZURE_RESOURCE_GROUP=replace_me
FABRIC_CAPACITY_NAME=replace_me
